* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card {
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 50%;
    height: auto;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group input:focus {
    border-color: #66b2ff;
    outline: none;
}

.submit-group {
    margin-top: 20px;
}

.submit-group button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-group button:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}

.alert-warning {
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 14px; 
    margin-top: 15px; 
    display: inline-block; 
    width: auto; 
    animation: fadeInOut 8s forwards; /* Aumentei para 8 segundos */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; } /* Ajustei para manter visível por mais tempo */
    100% { opacity: 0; }
}

@media screen and (max-width: 480px) {
    .login-card {
        padding: 20px;
        width: 90%;
    }

    .logo {
        max-width: 70%;
    }
}
